---
import Section from "@/components/Section.astro";

import { education } from "@cv";
---

<Section title="Educación">
  <ul class="flex flex-col gap-6">
    {
      education.map(({ institution, url, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header class="flex flex-col md:flex-row print:flex-row justify-between text-gray-800">
                <div class="flex flex-row">
                  <a
                    class="hover:underline"
                    href={url}
                    title={`Ir a la web de ${institution}`}
                    target="_blank"
                  >
                    {institution}
                  </a>
                </div>

                <time class="text-sm">{years}</time>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
